<!--
  Generated template for the ViewProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>View Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list style="padding: 0;">
    <ion-item color="none" no-lines="true" id="profile-list-item8">
      <ion-thumbnail item-left>
        <img *ngIf="userProfilePic" src="{{apiUploadUrl}}{{userProfilePic.thumbnails.w160}}">
        <img *ngIf="!userProfilePic" src="../../assets/imgs/rideplaceholder.png">
      </ion-thumbnail>
      <h1>
        {{profilePageInfo.username}}
      </h1>
      <p>
        {{profilePageInfo.email}}
      </p>
    </ion-item>
    <!--
      <ion-list style="display: flex; flex-direction: row; text-align:center;">
          <ion-item no-lines="true"><ion-label>1</ion-label><ion-radio value="1">1</ion-radio>  </ion-item>
          <ion-item no-lines="true"> <ion-label>2</ion-label><ion-radio  value="2">2</ion-radio>  </ion-item>
          <ion-item no-lines="true"><ion-label>3</ion-label><ion-radio  value="3">3</ion-radio>  </ion-item>
          <ion-item no-lines="true"> <ion-label>4</ion-label><ion-radio  value="4">4</ion-radio>  </ion-item>
          <ion-item no-lines="true"><ion-label>5</ion-label><ion-radio value="5">5</ion-radio> </ion-item>
      </ion-list>
    <ion-list style="display: flex; flex-direction: row; text-align:center; float: right;">
      <ion-item style="border-radius: 5px;">
        <ion-icon style="font-size: 40px" name=></ion-icon>
        <ion-icon style="font-size: 40px" name=></ion-icon>
        <ion-icon style="font-size: 40px" name=></ion-icon>
        <ion-icon style="font-size: 40px" name=></ion-icon>
        <ion-icon style="font-size: 40px" name=></ion-icon>
      </ion-item>
    </ion-list>
    <ion-slides (ionSlideDrag)="touchHold($event)">
      <ion-slide style="height: 50%">
      </ion-slide>
    </ion-slides>

      -->
    <ion-item no-lines>
      <ion-input style="border-bottom: 1px solid #639C67" type="text" placeholder="leave a comment as a rating!" #commentInput></ion-input>
    </ion-item>
    <ion-item>
      <button *ngIf="!userProfilePic" ion-button [disabled]="true" style="float: right;" (click)="postAComment()">
        Comment!
      </button>
      <button *ngIf="userProfilePic" ion-button style="float: right;" (click)="postAComment()">Comment!</button>
    </ion-item>
  </ion-list>

  <ion-list style="padding: 0;">
    <ion-label style="margin:11px 8px; border-bottom: 1px solid #639C67;">
      <h2 text-center><i>reviews</i></h2></ion-label>
    <ion-item style="padding: 0 16px;" *ngFor="let comment of comments">
      <ion-item no-lines="true">
        <p style="white-space: normal; color: black"> {{comment.comment}}</p>
        <p style="float: right">- <i>{{(comment.user_id | commentUser | async)}}</i></p>
      </ion-item>
    </ion-item>

  </ion-list>
  <!--
  <ion-list class="booked-rides" *ngIf="mediaProvider.booked_rides.length > 0" no-lines="true" >
    <ion-label text-center><ion-icon name="book"></ion-icon> Booked Rides</ion-label>
    <ion-item  *ngFor="let entry of mediaProvider.booked_rides" tappable="true" (click)="pushToRidePage({file_id:entry.file_id, uploader_id:entry.user_id})">
      <h2 item-start>
        {{entry.title}}
      </h2>
      <p item-end>
        {{entry.time_added|date:"dd/MM/yy"}}
      </p>
    </ion-item>
  </ion-list> -->
</ion-content>
