
executable file 56 lines (48 sloc) 1.71 KB

<ion-header>
  <ion-navbar color="primary" style="display: flex;">
    <ion-title style="float: left;">Carp</ion-title>
    <button ion-button style="float: right; border-radius: 3px;" (click)="searchFunction()" ><ion-icon name="search"></ion-icon></button>
    <ion-input type="text" style="border-radius: 5px; background-color: floralwhite; width: 50%; float: right; padding-right: 10px;" #searchBar></ion-input>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--
    <ion-list>
      <ion-item *ngFor="let entry of mediaArray">
        <h2>{{entry.title}}</h2>
        <p>{{entry.time_added | date:"dd/MM/yy"}}</p>
        <p>{{entry.details}}</p><br>
        <button ion-button color="primary" item-end [large]="true" (click)="changeToRidePage({file_id:entry.file_id, uploader_id:entry.user_id})" >Open ride!</button>
      </ion-item>
    </ion-list>
    -->

  <ion-list>
    <ion-card id="home-card21" *ngFor="let entry of mediaArray">
      <ion-list>
        <ion-item class="information" color="none" id="home-list-item20">
          <ion-thumbnail item-left>
            <img [src]="apiUploadUrl + entry.filename">
          </ion-thumbnail>
          <h2>
            {{entry.title}}
          </h2>
          <p>
            {{entry.time_added | date:"dd/MM/yy"}}
          </p>
        </ion-item>
        <ion-item class="description" id="home-list-item-container3">
          <div id="home-markdown3" style="text-align:center;white-space: normal;text-overflow: ellipsis" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">
              {{entry.parsedDesc}}
            </p>
          </div>
        </ion-item>
        <button ion-button icon-left id="home-button2" ion-button outline color="positive" (click)="changeToRidePage({file_id:entry.file_id, uploader_id:entry.user_id})">
          <ion-icon name="checkmark-circle-outline"></ion-icon>Book now!
        </button>
      </ion-list>
    </ion-card>
  </ion-list>

  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown">
    </ion-refresher-content>
  </ion-refresher>

</ion-content>
