page-ride {
  ion-card-header {
    padding-bottom: 0 !important;
  }

  .person {
    margin-top: 0 !important;
    border: solid 1px #639C67;
    border-radius: 5px;
    padding: 1px;
  }
  .email{
    padding: 2px;
  }
}
